<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>German/English Translator</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container-fluid">
<div class="column">
	{% block content %}
		<div style="text-align:center;margin-left:auto;margin-right:auto;display:table;"> 
		<form action="{% url 'quiz_detail' %}" method="get">
			<h1 style="text-align:center; margin-top:50px">Sprache/Language:</h1>
			<div style="text-align:center">
				<select name="lang" id="lang">
					<option value="g">Deutsch</option>
					<option value="e">English</option>
				</select> 
			</div>
			<h1 style="text-align:center; margin-top:50px">Anzahl der Fragen/Number of Questions:</h1>
			<p style="text-align:center; margin-top:50px"><input name="qnumber" type="text"></p>
			<button style="text-align:center; margin-top:50px" type = “submit”>Submit</button>
		</form>
		</div>
	{% endblock %}
</div>
</div>
</body>
</html>
